*{
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
  *:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
/* start page */
.page{
    min-height: 200vh;
}
.page .carding{
    display: flex;
    padding: 15px;
    background-color: #3a3e59;
    color: white;
    width: 100%;
}
.page .carding{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page .carding .info a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}
.page .carding .info-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page .carding .info-1 a{
    color: white;
}
.page .carding .info-1 .i-0{
   margin-right: 20px;
   font-size: 20px;
   background-color: #c36b84;
   padding: 8px 8px;
   border-radius: 5px;
}
.page .carding .info-2 a{
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
}
@media(max-width:767px){
    .page .carding{
        display: none;
    }
}
/* end page */
.dash{
    background-color: #89aac3;
}
.dash .logo{
    width: 100px;
    height: 70px;
}
@media(max-width:767px){
    .dash{
        background-color: #89aac3;
    }
    .dash .logo{
        width: 100px;
        height: 60px;
        margin-left: 0px;
    }
}
.dash .navbar-toggler{
    color: white;
    font-size: 25px;
    border: 2px solid white;
}
.dash ul li a{
    color: #fbf7f5;
    font-size: 18px;
    margin-right: 7px;
    font-weight: bold;
}
.dash ul li a:hover{
    color: black;
}
.dash .text{
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 17px;
}
.dash .text .top{
    margin-top: -5px;
}
.dash .icon a{
    font-size: 25px;
    margin-right: 10px;
}
.dash .icon .i-1{
    color: #4267B2;
}
.dash .icon .i-2{
    color: #E1306C;
}
.dash .icon .i-3{
    color: #0e76a8;
}
.dash .icon .i-4{
    color: green;
}
